/**
 * flex.scss
 */

/*************************** 父级属性 ***************************/

/* --------------- 设置flex --------------- */
@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* --------------- 主轴排列方向 --------------- */
/* 从左到右(默认) */
@mixin flex-dir-left() {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
/* 从右到左 */
@mixin flex-dir-right() {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -ms-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-box-pack: end;
  box-pack: end;
}
/* 从上到下 */
@mixin flex-dir-top() {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* 从下到上 */
@mixin flex-dir-bottom() {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -ms-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-box-pack: end;
  box-pack: end;
}
/* --------------- 水平分布 --------------- */
/* 水平居中 */
@mixin flex-align-center() {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
/* 水平两端 */
@mixin flex-align-justify() {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
/* 水平平均 */
@mixin flex-align-mean() {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
/* 水平左 */
@mixin flex-align-left() {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
/* 水平右 */
@mixin flex-align-right() {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;

}
/* --------------- 垂直分布 --------------- */
/* 垂直居中 */
@mixin flex-valign-center() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
}
/* 垂直顶部 */
@mixin flex-valign-top() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
}
/* 垂直底部 */
@mixin flex-valign-bottom() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -mz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
}
/* 垂直拉伸填充 */
@mixin flex-valign-stretch() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}
/* 多行两端对其 */
@mixin flex-valign-multi-justify() {
  -webkit-align-content: space-between;
  -moz-align-content: space-between;
  -ms-align-content: space-between;
  align-content: space-between;
}
/* 多行等比例拉伸对其 */
@mixin flex-valign-multi-stretch() {
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  -ms-align-content: stretch;
  align-content: stretch;
}
/* --------------- 换行方式 --------------- */
/* 自动换行 */
@mixin flex-wrap-wrap() {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* 不允许换行 */
@mixin flex-wrap-nowrap() {
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -ms-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}


/*************************** 子级属性 ***************************/

/* --------------- 放大比例 --------------- */
@mixin flex-grow($num) {
  -webkit-box-flex: $num;
  -moz-box-flex: $num;
  -ms-box-flex: $num;
  box-flex: $num;
  -webkit-flex-grow: $num;
  -moz-flex-grow: $num;
  -ms-flex-positive: $num;
  flex-grow: $num;
}
@mixin flex-grow-yes() {
  @include flex-grow(1);
}
@mixin flex-grow-no() {
  @include flex-grow(0);
}
/* --------------- 缩小比例 --------------- */
@mixin flex-shrink($num) {
  -webkit-flex-shrink: $num;
  -moz-flex-shrink: $num;
  -ms-flex-shrink: $num;
  flex-shrink: $num;
}
@mixin flex-shrink-yes() {
  @include flex-shrink(1);
}
@mixin flex-shrink-no() {
  @include flex-shrink(0);
}
/* --------------- 多余空间分配 --------------- */
@mixin flex-basis($num) {
  -webkit-flex-basis: $num;
  -moz-flex-basis: $num;
  -ms-flex-basis: $num;
  flex-basis: $num;
}
@mixin flex-basis-auto() {
  @include flex-basis(auto);
}
/* --------------- 排列顺序 --------------- */
@mixin order($num) {
  -webkit-order: $num;
  -moz-order: $num;
  -ms-order: $num;
  order: $num;
}
